name: Enforce CRLF

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  enforce-crlf:
    runs-on: ubuntu-latest
    steps:
      - name: Enforce CRLF
        uses: DecimalTurn/Enforce-CRLF@v1.2.1
        with:
          extensions: .bas, .frm, .cls
          do-checkout: true
          do-push: true
